.mscarousel {overflow:hidden}
.mscarousel img{border:0}
.mscarousel .child{position:relative;}
.mscarousel .child .set, .mscarousel .set{float:left; position:relative;}
.mscarousel .child .set .message, .mscarousel .set .message{/*position:absolute; top:0; left:0; background-color:#333333; color:#fff; display:none;*/}
.mscarousel .child .clear{clear:both}
.hand{cursor:pointer}


.carouselBig {
	width: 900px;
	height: 369px;
	overflow: hidden;
	position: relative;
}


.mainGallery {
	/* background:#FFF; */
	color:#fff;
	font-family: Helvetica, Arial, Georgia, "Times New Roman", Times, serif;
	margin-top: 10px;
	text-align: center;
}

.bigtable {
	width: 1000px;
	margin: 0 auto;
    text-align: left;
}
.mainGallery h2 {
	font-size: 14px;
    font-weight: lighter;
    letter-spacing: 0;
    margin: 0;
    padding: 10px 0;
}
.mainGallery h5 {
	font-size:11px;
	color:#fff;
	margin:0;
	padding:0px;
	font-weight:normal
}
.mainGallery .left, .mainGallery .right {
	width:50px;
	padding:0px;
}
.mainGallery .imgCaption {
    color: #000000;
    font-size: 13px;
    position: absolute;
    /*text-align: center;*/
    padding-left: 5px;
    top: 100%;
    width: 900px;
}
.mainGallery .imgImage {
	float:left;
	width:900px;
}
.mainGallery .imgImageSize {
	float:left;
	width:900px;
	height:400px;
}
.mainGallery .middleContent {
	padding: 5px 0
}
.mainGallery .borderLR {
	/*border-left:1px solid #333;*/
	/*border-bottom:1px solid #333;*/
}
.mainGallery .message {
	display:block;
	width: 440px;
	opacity: 1;
}
.texto {
	display:block;
	width: 440px;
	opacity: 1;
}
.mainGallery .nextPreviousBig {
	position:relative;
	height:50px;
	width:50px;
	/*background:url(../images/slideshow-arrow-big.gif) no-repeat;*/
	background:url(../images/slideshow-arrows-orange.png) no-repeat;
	text-indent:-999999px;
}
.mainGallery .nextBig {
	background-position:-50px -50px;
	float:right
}
.mainGallery .previousBig {
	background-position:0 -50px;
	float:left;
}
.mainGallery .disableBigP {
	background-position:0 -41px !important;
	float:left;
	cursor:default
}
.mainGallery .disableBigN {
	background-position:-33px -41px !important;
	float:right;
	cursor:default
}
.mainGallery .nextPrevious {
	position:relative;
	height:50px;
	width:50px;
	/*background:url(../images/slideshow-arrow-big.png) no-repeat;*/
	background:url(../images/slideshow-arrows-orange.png) no-repeat;
	text-indent:-999999px;
}
.mainGallery .next {
	background-position:-50px -50px;
	float:right;
}
.mainGallery .previous {
	background-position:0 -50px;
	float:left;
	/*left:10px*/
}
.mainGallery .disableP {
	background-position:0 -41px !important;
	float:left;
	cursor:default
}
.mainGallery .disableN {
	background-position:-33px -41px !important;
	float:right;
	cursor:default
}
.mainGallery .header {
	background:#FFF;
	padding: 5px;
}
.mainGallery .gallerythumb {
	list-style:none;
	list-style-type:none;
	float:left;
	padding:0;
	margin:0
}
.ThumbImageSize {
	height: 80px;
	width:150px;
}
.mainGallery li {
	display:inline;
	margin-right:5px;
	text-align:center;
	float:left;
	position:relative
}
.mainGallery li img {
	margin-bottom:-3px;
	/*border:1px solid #4a4949;*/
}
.mainGallery li.active img {
	margin-bottom:-3px;
	border:1px solid #f4aa00;
}
:focus {
	border:none;
	outline:none
}
.clear {
	clear:both
}

/**** override ********/

.mainGallery .imgImage {
	text-align:center;
	height: 400px
}
.mstoplinks{padding:3px; border-bottom:2px solid #c3c3c3;}
.mstoplinks a, .mstoplinks a:visited{color:#003366; text-decoration:none; border-right:1px solid #c3c3c3; padding:0 10px}
.mstoplinks a.active, .mstoplinks a.active:visited{color:#003366; text-decoration:none; border-right:1px solid #c3c3c3; padding:0 10px;border-bottom:1px solid #c3c3c3; border-left:1px solid #c3c3c3; }
.version{font-size:12px; color:#EE3C95;}